@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
html { 
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, red 50%,yellow 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-image:white;
  border-radius:.25em;

  box-sizing:border-box;
  left:50%;
  padding:25vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
  h1 {
  
    
    font-size: 2.5em;
    color: red;
    }

    .topnav {

        overflow: hidden;
        background-color: #0a1215;
        background-image: white;
        align-items: center;

      }
      
    .SoccerTact_Logo{
      background-image: url(../images/SoccerTact_logo.png);
    }

      .play{
        background: white;
        cursor:pointer;
        border: none;
        height: 10%;
        width: 50%;
        border-radius: 25px;
        font-family: Garamond, sans-serif;
        font-size: 2.5em;
        color: black;
       border: 2px solid black;
       text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
       overflow: hidden;
       padding: 20px 50px 20px 70px;
       position: relative;
       outline: none;
       -webkit-transition: background-position .7s,box-shadow .4s;
       transition: background-position .7s,box-shadow .4s;
       background-size: 110%;
    }
    .play:hover {
      background-position: 0% 30%;
    }
    .play:hover:after {
      right: -40px;
      -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
      transition: right .4s,-webkit-transform 30s .2s linear;
      transition: right .4s,transform 30s .2s linear;
      transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
    }
    .play:before, .play:after {
      font-family: FontAwesome;
      display: block;
      position: absolute;
    }
    .play:before {
      -webkit-transition: all 1s;
      transition: all 1s;
      font-size: 30px;
      left: 25px;
      top: 19px;
    }
    .play:after {
      -webkit-transition: right .4s, -webkit-transform .2s;
      transition: right .4s, -webkit-transform .2s;
      transition: right .4s, transform .2s;
      transition: right .4s, transform .2s, -webkit-transform .2s;
      font-size: 100px;
      opacity: .3;
      right: -120px;
      top: -17px;
    }
    .play:hover {
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #58b818;
    }
    .play:hover:after {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    .play:hover:before {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    .play:after {
      content:"\f1e3";
    }

    #teamopt{
    position: fixed;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    }

 #mySelect{
   font-size: 2.5em;
   border: 2px solid black;
  /* <!-- border-radius: 25px; */
 }
 @media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  p a, p a:visited { color: #444 !important; text-decoration: underline; }
  p a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  .hide-on-print { display: none !important; }
  .print-only { display: block !important; }
}
 footer {
  text-align: left;
  color: #333;
  font-family: "Times New Roman";
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  position: fixed;
  bottom: 0;
  background: white;

  border: 2px groove darkgrey;
  width: 500px;
}
 .container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  min-height: 100%;
}
.box1{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
}
.box2{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
 
}
.box3{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
 
}

.players_select{
  display: flex;
  justify-content: space-between;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_team_select{
 overflow: auto;

 font-size: 20px;
 width: 25vw;
 height:auto;
 color: white;
 background-color: #0a1215;
 border: 2px solid white;

 
}

.away_team_select{
 overflow: auto;
 right: 0px;
 font-size: 20px;
 width: 25vw;
 height: auto;
 color: white;
 background-color: #0a1215;
 border: 2px solid white;
}
#away_players{
  display: flex;
  justify-content: center;
  align-items: center;
}
#home_players{
display: flex;
justify-content: center;
align-items: center;
}

option{ border: 1px solid white;}
.players_select:active, select:hover {
  outline: none
}
.players_select:active, select:hover {
  outline-color: red
}

.logo_name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.five {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.five:hover {
  background-position: 0% 30%;
}
.five:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.five:before, .five:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.five:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.five:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.five {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #21960a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3fdb2b), to(rgba(154, 40, 87, 0.24))), url("http://www.stevegreerphotography.com/wp-content/uploads/2012/01/sg19-1532-1.jpg");
  background-image: linear-gradient(to bottom, #40b91b, rgba(154, 40, 87, 0.24)), url("http://www.stevegreerphotography.com/wp-content/uploads/2012/01/sg19-1532-1.jpg");
}
.five:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #58b818;
}
.five:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.five:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.five:after, .five:before {
}
.five b {
  color: #34f30e;
  font-weight: 700;
}





.pass {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.pass:hover {
  background-position: 0% 30%;
}
.pass:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.pass:before, .pass:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.pass:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.pass:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.pass {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #b60e0e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb0c0c), to(rgba(154, 40, 87, 0.24))), url("https://www.scisports.com/wp-content/uploads/2018/09/Fabregas-1280x853.jpg");
  background-image: linear-gradient(to bottom, #d60812, rgba(154, 40, 87, 0.24)), url("https://www.scisports.com/wp-content/uploads/2018/09/Fabregas-1280x853.jpg");
}
.pass:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #db0711;
}
.pass:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pass:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.pass:after, .pass:before {
}
.pass b {
  color: #fd0000;
  font-weight: 700;
}



.heat {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.heat:hover {
  background-position: 0% 30%;
}
.heat:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.heat:before, .heat:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.heat:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.heat:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.heat {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #daba07;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffef16), to(rgba(154, 40, 87, 0.24))), url("https://community.powerbi.com/t5/image/serverpage/image-id/31230i520C30F94C686541?v=v2");
  background-image: linear-gradient(to bottom, #f4f819, rgba(154, 40, 87, 0.24)), url("https://community.powerbi.com/t5/image/serverpage/image-id/31230i520C30F94C686541?v=v2");
}
.heat:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #fff01f;
}
.heat:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.heat:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.heat:after, .heat:before {
}
.heat b {
  color: #efff08;
  font-weight: 700;
}
.analysis_buttons{
  display: flex;
  justify-content: center;
  
}
