
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
@media screen {
html { 
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, red 50%,yellow 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-image:white;
  border-radius:.25em;

  box-sizing:border-box;
  left:50%;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
  h1 {
  
    
    font-size: 2.5em;
    color: red;
    }

    .topnav {

        overflow: hidden;
        background-color: #0a1215;
        background-image: white;
        align-items: center;

      }
      
    .SoccerTact_Logo{
      background-image: url(../images/SoccerTact_logo.png);
    }

      .play{
        background: white;
        cursor:pointer;
        border: none;
        height: 100%;
        width: 60%;
        border-radius: 25px;
        font-family: Garamond, sans-serif;
        font-size: 2.5em;
        color: black;
       border: 2px solid black;
       text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
       overflow: hidden;
       padding: 20px 50px 20px 70px;
       position: relative;
       outline: none;
       -webkit-transition: background-position .7s,box-shadow .4s;
       transition: background-position .7s,box-shadow .4s;
       background-size: 110%;
    }
    .play:hover {
      background-position: 0% 30%;
    }
    .play:hover:after {
      right: -40px;
      -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
      transition: right .4s,-webkit-transform 30s .2s linear;
      transition: right .4s,transform 30s .2s linear;
      transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
    }
    .play:before, .play:after {
      font-family: FontAwesome;
      display: block;
      position: absolute;
    }
    .play:before {
      -webkit-transition: all 1s;
      transition: all 1s;
      font-size: 30px;
      left: 25px;
      top: 19px;
    }
    .play:after {
      -webkit-transition: right .4s, -webkit-transform .2s;
      transition: right .4s, -webkit-transform .2s;
      transition: right .4s, transform .2s;
      transition: right .4s, transform .2s, -webkit-transform .2s;
      font-size: 100px;
      opacity: .3;
      right: -120px;
      top: -17px;
    }
    .play:hover {
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #58b818;
    }
    .play:hover:after {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    .play:hover:before {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    .play:after {
      content:"\f1e3";
    }

    #teamopt{
    position: fixed;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    }

 .mySelect{
   font-size: 1.5em;
 
   width: 400px;
  /* <!-- border-radius: 25px; */
 }
 
 footer {
  text-align: left;
  color: #333;
  font-family: "Times New Roman";
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  position: fixed;
  bottom: 0;
  background: white;

  border: 2px groove darkgrey;
  width: 500px;
}
#plyinfo{
  width: 100%; background-image: url(../images/collage-removebg.png);
}
.player_images{
  display: inline; display: flex; margin-top: 2%;
}
#plybox
{
  display: flex; 
  size: 10%;
}
#plyimg{
  size:100%; border: 2px solid black;
}
.title_anl{
  display: none;
}
.myImg2{
  height: 70%; width:80%; margin-left: 10%;
}
.img3{
  display: none;
}
.myImg{
  height: 400px; width:400px;
}
.teamimg{
  width:600px;
   height:400px; 

}
#timeline{
width: 600px; 
                    height: 140px; 
                    object-fit: cover;
}
.passimg{
  display: none;
}
.tags{
  display: none;
}
.tagsP{
  display: none;
}

 .container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  min-height: 100%;
}
.box1{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
}
.box2{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
 
}
.box3{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
 
}

.players_select{
  display: flex;
  justify-content: space-between;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_team_select{
 overflow: auto;
 height: 405px;
 font-size: 20px;
 width: 25vw;
 color: white;
 background-color: #0a1215;
 border: 2px solid white;

 
}

.away_team_select{
 overflow: auto;
 right: 0px;
 font-size: 20px;
 width: 25vw;
 height: 405px;
 color: white;
 background-color: #0a1215;
 border: 2px solid white;
}
#away_players{
  display: flex;
  justify-content: center;
  align-items: center;
}
#home_players{
display: flex;
justify-content: center;
align-items: center;
}

option{ border: 1px solid white;}
.players_select:active, select:hover {
  outline: none
}
.players_select:active, select:hover {
  outline-color: red
}

.logo_name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.five {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.five:hover {
  background-position: 0% 30%;
}
.five:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.five:before, .five:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.five:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.five:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.five {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #21960a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3fdb2b), to(rgba(154, 40, 87, 0.24))), url("http://www.stevegreerphotography.com/wp-content/uploads/2012/01/sg19-1532-1.jpg");
  background-image: linear-gradient(to bottom, #40b91b, rgba(154, 40, 87, 0.24)), url("http://www.stevegreerphotography.com/wp-content/uploads/2012/01/sg19-1532-1.jpg");
}
.five:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #58b818;
}
.five:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.five:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.five:after, .five:before {
}
.five b {
  color: #34f30e;
  font-weight: 700;
}





.pass {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.pass:hover {
  background-position: 0% 30%;
}
.pass:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.pass:before, .pass:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.pass:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.pass:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.pass {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #b60e0e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb0c0c), to(rgba(154, 40, 87, 0.24))), url("https://www.scisports.com/wp-content/uploads/2018/09/Fabregas-1280x853.jpg");
  background-image: linear-gradient(to bottom, #d60812, rgba(154, 40, 87, 0.24)), url("https://www.scisports.com/wp-content/uploads/2018/09/Fabregas-1280x853.jpg");
}
.pass:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #db0711;
}
.pass:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pass:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.pass:after, .pass:before {
}
.pass b {
  color: #fd0000;
  font-weight: 700;
}



.heat {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.heat:hover {
  background-position: 0% 30%;
}
.heat:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.heat:before, .heat:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.heat:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.heat:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.heat {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #daba07;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffef16), to(rgba(154, 40, 87, 0.24))), url("https://community.powerbi.com/t5/image/serverpage/image-id/31230i520C30F94C686541?v=v2");
  background-image: linear-gradient(to bottom, #f4f819, rgba(154, 40, 87, 0.24)), url("https://community.powerbi.com/t5/image/serverpage/image-id/31230i520C30F94C686541?v=v2");
}
.heat:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #fff01f;
}
.heat:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.heat:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.heat:after, .heat:before {
}
.heat b {
  color: #efff08;
  font-weight: 700;
}
.analysis_buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.network {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.network:hover {
  background-position: 0% 30%;
}
.network:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.network:before, .network:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.network:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.network:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.network {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #b60e0e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb0c0c), to(rgba(154, 40, 87, 0.24))), url("https://cdn.shopify.com/s/files/1/0961/3230/files/Soccer_Passing_large.png?16863090442324446829");
  background-image: linear-gradient(to bottom, #d60812, rgba(154, 40, 87, 0.24)), url("https://cdn.shopify.com/s/files/1/0961/3230/files/Soccer_Passing_large.png?16863090442324446829");
}
.network:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #db0711;
}
.network:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.network:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.network:after, .network:before {
}
.network b {
  color: #fd0000;
  font-weight: 700;
}

.duel {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.duel:hover {
  background-position: 0% 30%;
}
.duel:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.duel:before, .duel:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.duel:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.duel:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.duel {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #21960a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3fdb2b), to(rgba(154, 40, 87, 0.24))), url("https://thumbs.dreamstime.com/b/football-soccer-field-heat-map-moving-location-player-game-statistics-strategy-145507787.jpg");
  background-image: linear-gradient(to bottom, #40b91b, rgba(154, 40, 87, 0.24)), url("https://thumbs.dreamstime.com/b/football-soccer-field-heat-map-moving-location-player-game-statistics-strategy-145507787.jpg");
}
.duel:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #58b818;
}
.duel:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.duel:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.duel:after, .duel:before {
}
.duel b {
  color: #34f30e;
  font-weight: 700;
}

.pressure {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.pressure:hover {
  background-position: 0% 30%;
}
.pressure:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.pressure:before, .pressure:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.pressure:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.pressure:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.pressure {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #daba07;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffef16), to(rgba(154, 40, 87, 0.24))), url("https://barcauniversal.com/wp-content/uploads/2021/06/IMG_20210615_140028.jpg");
  background-image: linear-gradient(to bottom, #f4f819, rgba(154, 40, 87, 0.24)), url("https://barcauniversal.com/wp-content/uploads/2021/06/IMG_20210615_140028.jpg");
}
.pressure:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #fff01f;
}
.pressure:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pressure:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.pressure:after, .heat:before {
}
.pressure b {
  color: #efff08;
  font-weight: 700;
}

.timeline{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20%;
}

.name{
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fc6704), to(rgba(255, 94, 0, 0.966))), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg");
  background-image: linear-gradient(to bottom, #f3a682, rgba(247, 126, 45, 0.952)), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg"); */
  opacity: 0.8;
  background-color: white;
  border-radius: 25px;
}
.age{
  opacity: 0.8;
  background-color: white;
  border-radius: 25px;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fc04b2), to(rgba(255, 0, 140, 0.966))), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg"); */
  /* background-image: linear-gradient(to bottom, #ea82f3, rgba(223, 45, 247, 0.952)), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg"); */
}
.DOB{
  opacity: 0.8;
  background-color: white;
  border-radius: 25px;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fc0404), to(rgba(255, 0, 0, 0.966))), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg");
  background-image: linear-gradient(to bottom, #f38a82, rgba(247, 52, 45, 0.952)), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg"); */
}
.Pos{
  opacity: 0.8;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fce304), to(rgba(255, 217, 0, 0.966))), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg");
  background-image: linear-gradient(to bottom, #f3de82, rgba(247, 227, 45, 0.952)), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg"); */
  background-color: white;
  border-radius: 25px;
}
.height{
  opacity: 0.8;
  border-radius: 25px;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fc04b2), to(rgba(255, 0, 140, 0.966))), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg");
  background-image: linear-gradient(to bottom, #ea82f3, rgba(223, 45, 247, 0.952)), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg"); */
  background-color: white;
}
.c_team{
  opacity: 0.8;
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fc0404), to(rgba(255, 0, 0, 0.966))), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg");
  background-image: linear-gradient(to bottom, #f38a82, rgba(247, 52, 45, 0.952)), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg"); */
  background-color: white;
  border-radius: 25px;
}
.j_num{
  opacity: 0.8;
  
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fce304), to(rgba(255, 217, 0, 0.966))), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg");
  background-image: linear-gradient(to bottom, #f3de82, rgba(247, 227, 45, 0.952)), url("https://e0.365dm.com/20/05/2048x1152/skysports-liverpool-salah_5000679.jpg"); */
  background-color: white;
  border-radius: 25px;
}

.passes {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.passes:hover {
  background-position: 0% 30%;
}
.passes:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.passes:before, .passes:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.passes:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.passes:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.passes {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #b60e0e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eb0c0c), to(rgba(154, 40, 87, 0.24))), url("https://images.ctfassets.net/xct4vv2g1nhc/7oBp9TqbLmAjGrDQn33GYH/7fb5c630f90703238bd235d8a41c004f/youth_soccer_passing_drills.jpg?w=1200&q=50");
  background-image: linear-gradient(to bottom, #d60812, rgba(154, 40, 87, 0.24)), url("https://images.ctfassets.net/xct4vv2g1nhc/7oBp9TqbLmAjGrDQn33GYH/7fb5c630f90703238bd235d8a41c004f/youth_soccer_passing_drills.jpg?w=1200&q=50");
}
.passes:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #db0711;
}
.passes:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.passes:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.passes:after, .passes:before {
}
.passes b {
  color: #fd0000;
  font-weight: 700;
}

.shots {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.shots:hover {
  background-position: 0% 30%;
}
.shots:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.shots:before, .shots:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.shots:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.shots:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.shots {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #96940a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbcf2b), to(rgba(154, 40, 87, 0.24))), url("https://media.istockphoto.com/photos/soccer-ball-in-goal-picture-id700821934?k=20&m=700821934&s=612x612&w=0&h=exTBH6pyoYVVYnWuyxokZyGTjZPmYINTGuooOo_TUOI=");
  background-image: linear-gradient(to bottom, #b9b61b, rgba(154, 40, 87, 0.24)), url("https://media.istockphoto.com/photos/soccer-ball-in-goal-picture-id700821934?k=20&m=700821934&s=612x612&w=0&h=exTBH6pyoYVVYnWuyxokZyGTjZPmYINTGuooOo_TUOI=");
}
.shots:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #b8ad18;
}
.shots:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.shots:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.shots:after, .shots:before {
}
.shots b {
  color: #f3e40e;
  font-weight: 700;
}

.possesion {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 15px 50px 20px 70px;
  margin-bottom: 5px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.possesion:hover {
  background-position: 0% 30%;
}
.possesion:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.possesion:before, .possesion:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.possesion:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.possesion:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.possesion{
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #d307da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff16d8), to(rgba(154, 40, 87, 0.24))), url("https://sbcoachescollege.com/wp-content/uploads/2021/06/6-Soccer-Drills-To-Keep-Your-Team-In-Possession-Of-The-Ball.jpg");
  background-image: linear-gradient(to bottom, #f819f8, rgba(154, 40, 87, 0.24)), url("https://sbcoachescollege.com/wp-content/uploads/2021/06/6-Soccer-Drills-To-Keep-Your-Team-In-Possession-Of-The-Ball.jpg");
}
.possesion:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #e51fff;
}
.possesion:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.possesion :hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.possesion :after, .possesion :before {
}
.possesion b {
  color: #ff08ea;
  font-weight: 700;
}
.player_images{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.player_buttons{
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.print{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button.print-button {
  width: 70px;
  height: 70px;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  border: solid 4px #333;
}
span.print-icon::after {
  border-width: 2px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;
  
  border: none;
  background: transparent;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;  
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;

  transition: height .2s .15s;
}

span.print-icon::after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0, #fff 14%,
    #333 14%, #333 28%,
    #fff 28%, #fff 42%,
    #333 42%, #333 56%,
    #fff 56%, #fff 70%,
    #333 70%, #333 84%,
    #fff 84%, #fff 100%
  );

  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height:0px;
  transition: height .2s;
}
button.print-button:hover .print-icon::after {
  height:120%;
  transition: height .2s .15s, border-width 0s .16s;
}
}

@media print {
  body {
   background-color: black;
  }
}

.item {
  width: 180px;
  height: 50px;
  margin: 10px;
  position: relative;
}

.back {
  width: 180px;
  padding: 15px;
  background: white;
  transition: background 0.5s ease;
}

.back:hover {
  background: transparent;
  font-weight: normal;
}

.back:hover i {
  color: black;
}

i {
  color: black;
  margin-left: 20px;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}