html { 
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, red 50%,yellow 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-image:white;
  border-radius:.25em;

  box-sizing:border-box;
  left:50%;
  padding:25vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
  h1 {
  
    
    font-size: 2.5em;
    color: red;
    }

    .topnav {

        overflow: hidden;
        background-color: #0a1215;
        background-image: white;
        align-items: center;

      }
      

      #play{
        background: white;
        cursor:pointer;
        border: none;
        height: 10%;
        width: 50%;
        border-radius: 25px;
        font-family: Garamond, sans-serif;
        font-size: 2.5em;
        color: black;
       border: 2px solid black;
    }

    #teamopt{
    position: fixed;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    }

 #mySelect{
   font-size: 2.5em;
   border: 2px solid black;
  /* <!-- border-radius: 25px; */
 }
 @media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  p a, p a:visited { color: #444 !important; text-decoration: underline; }
  p a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  .hide-on-print { display: none !important; }
  .print-only { display: block !important; }
}
 footer {
  text-align: left;
  color: #333;
  font-family: "Times New Roman";
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  position: fixed;
  bottom: 0;
  background: white;

  border: 2px groove darkgrey;
  width: 500px;
}
 .container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  min-height: 100%;
}
.box1{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
}
.box2{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
 
}
.box3{
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  min-width: 300px;
  border: 2px solid blue;
 
}

.players_select{
  display: flex;
  justify-content: space-between;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_team_select{
 overflow: auto;

 font-size: 20px;
 width: 25vw;
 height:auto;
 color: white;
 background-color: #0a1215;
 border: 2px solid white;

 
}

.away_team_select{
 overflow: auto;
 right: 0px;
 font-size: 20px;
 width: 25vw;
 height: auto;
 color: white;
 background-color: #0a1215;
 border: 2px solid white;
}
#away_players{
  display: flex;
  justify-content: center;
  align-items: center;
}
#home_players{
display: flex;
justify-content: center;
align-items: center;
}

option{ border: 1px solid white;}
.players_select:active, select:hover {
  outline: none
}
.players_select:active, select:hover {
  outline-color: red
}

.logo_name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.five {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.five:hover {
  background-position: 0% 30%;
}
.five:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.five:before, .five:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.five:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.five:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.five {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #21960a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3fdb2b), to(rgba(154, 40, 87, 0.24))), url("https://cdn.vox-cdn.com/thumbor/avciGramUJ8ljFGsKgmiBxShiS8=/0x0:3052x1934/1200x800/filters:focal(1282x723:1770x1211)/cdn.vox-cdn.com/uploads/chorus_image/image/55470069/669120050.0.jpg");
  background-image: linear-gradient(to bottom, #40b91b, rgba(154, 40, 87, 0.24)), url("https://cdn.vox-cdn.com/thumbor/avciGramUJ8ljFGsKgmiBxShiS8=/0x0:3052x1934/1200x800/filters:focal(1282x723:1770x1211)/cdn.vox-cdn.com/uploads/chorus_image/image/55470069/669120050.0.jpg");
}
.five:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #58b818;
}
.five:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.five:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.five:after, .five:before {
  content:icon;
}
.five b {
  color: #F764FF;
  font-weight: 700;
}
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #fa0955 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}

.analysis_buttons{
  display: flex;
  justify-content: center;
}
